version: '3.7'

volumes:
  postgres_data:
  static:

services:
  db:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
  web:
    tty: true
    build: .
    restart: always
    env_file:
      - ./.env
    volumes:
      - ./static:/code/static/
    command: gunicorn mailing.wsgi:application --bind 0.0.0.0:8000
  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./static:/code/static/

    ports:
      - "80:80"
    depends_on:
      - web
